/* List.module.css */

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}
.PreloaderContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}